body{
    background-color: darkmagenta;
    background-image: url("laptop.jpg");
    background-size: cover;
    background-attachment: fixed;
}


.animation{
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200vh;
    height: 50px;
    border-radius: 0%;
    background: linear-gradient(blueviolet, violet, palevioletred);

}

@keyframes animate {
    0% {
        transform: scale(0.95);

    }
    50% {
        transform: scale(1);

    }
    100% {
        transform: scale(0.95);

    }
}

.animation span{
    margin-top: 10px;
    margin-left: -20px;
    margin-right: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200vh;
    height: 50px;
    border-radius: 0%;
    background: linear-gradient(blueviolet, violet, palevioletred);
    animation: animate 2s linear infinite;
}

.animation span:nth-child(1){
    filter: blur(10px);
}
.animation span:nth-child(2){
    filter: blur(15px);
}
.animation span:nth-child(3){
    filter: blur(25px);
}
.animation span:nth-child(4) {
    filter: blur(50px);
}


h1{
    text-shadow: 2px 2px blueviolet;
}

p, h1, h2{
    color: antiquewhite;
}

h1, h2{
    padding: 10px 10px;
}


nav{
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -20px;
}

ul {
    list-style: none;
    background: mediumpurple;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a {
    display: inline-block;
    padding: 25px 20px;
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}


ul li ul.dropdown li{
    display: inline-block;
}

ul li ul.dropdown{
    padding: 0px;
    width: 150%;
    background: mediumpurple;
    position: absolute;
    z-index: 999;
    display: none;
}



ul li a:hover{
    background: purple;
}

ul li:hover ul.dropdown{
    transition: top 0.5s ease, opacity 0.6s ease, left 0s 0.6s;
    display: block;
}
